{% extends 'base.twig' %}

{% block content %}
  <h1>Hello.</h1>

  <p>
    My name is Dave Smith-Hayes. I am a software developer from Hamilton,
    Ontario. Feel free to take a look article
    <a href="https://github.com/dsmithhayes">my Github</a> and feel free to
    <a href="mailto:me@davesmithhayes.com">email me</a> if you like.
    Occasionally <a href="/blogs">I like to write as well</a>.
  </p>
  <blockquote>
    This is a second paragraph that will have a block quote. I need to add more
    text so this hits multiple lines.
  </blockquote>
{% endblock %}
