
#content {
  h1 {
    font-size: 36px;
    padding: 0;
    margin: 10px 0 5px 0;
  }

  pre {
    width: 90%;
    margin: 25px auto;
    overflow: scroll;
    padding: 1em;
    color: $base3;
    font-size: 16px;
    background-color: $base03;
    border-radius: 5px;
  }
}
