/*
  Contact form styles
*/

#contact-form {
  width: 100%;

  label {
    font-size: $reading-size;
    display: none;
  }

  input {
    padding: 0.5em;
    font-size: $reading-size;
    background-color: $base2;
    color: $base02;
    border: 1px solid $base01;
    border-radius: 3px;
    width: 66%;
    margin: 0.5em auto;

    font-family: 'Poppins', sans-serif;

    @media screen and (max-width: 800px) {
      width: 95%;
    }
  }

  button {
    padding: 0.25em;
    font-size: $reading-size;
    background-color: $base2;
    margin: 0.5em auto;
    border: 1px solid $base01;
    border-radius: 3px;

    font-family: 'Poppins', sans-serif;

    @media screen and (min-width: 800px) {
      width: 12.5%
    }
  }

  textarea {
    padding: 0.5em;
    font-size: $reading-size;
    background-color: $base2;
    color: $base02;
    border: 1px solid $base01;
    border-radius: 3px;
    width: 66%;
    height: 10em;

    margin: 0.5em auto;

    font-family: 'Poppins', sans-serif;

    @media screen and (max-width: 800px) {
      width: 95%;
    }
  }
}
