header {
  border-bottom: 1px solid $base1;
  margin-bottom: 25px;

  h1 {
    color: $orange;
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 20px;
    padding-bottom: 5px;
  }
}
