/*
    This is the file that defines the navigation
*/

nav {
    position: fixed;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: $base2;
    border-top: 1px solid $base1;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

    @media screen and (max-width: 800px) {
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 0;

            a {
                color: $red;
                text-decoration: none;
                display: block;
                padding: 0.25em 1em;

                @media screen and (max-width: 800px) {
                    padding: 0.25em 1em;
                }

                &:hover {
                    color: $base3;
                    background-color: $base02;
                }
            }
        }
    }
}
