/*
  Defines the structural aspects of the site.
*/

.container {
  width: 1000px;
  box-sizing: border-box;
  padding: 1em;
  margin: 0 auto;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}
